<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handy Helper Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid #999;
            padding: 0.5rem;
            text-align: left;
        }
        button {
            margin: 10px 10px;
        }
        .availablejobstitle {
            color: #28a745;
        }
        .yourjobstitle {
            color: #007bff;
        }
        .rederrors {
            color: red;
        }
        .delete {
            color: red;
        }
        .boldheaders {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="">Hello, {{request.session.first_name}}!</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/show_add_job">+ Add A Job</a></li>
                <li><a href="logout">x Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>        
        <div class="yourjobs">
            <h1 class="yourjobstitle">My Jobs</h1>
            <table>
                <tr class="boldheaders">
                    <td>Job</td>
                    <td>Location</td>
                    <td>Actions</td>
                </tr>
                {% if user %}
                    {% for user_jobs in user_jobs %}
                <tr>
                    <td>{{user_jobs.job_name}}</td>
                    <td>{{user_jobs.job_location}}</td>
                    <td>
                        <a href="/{{user_jobs.id}}/view_job">View Job | </a>
                        {% if all_jobs.user.id != request.session.id %}
                        <a href="/{{user_jobs.id}}/show_edit_job">Edit Job | </a>
                        <a href="/{{user_jobs.id}}/cancel_job">Cancel Job |</a>
                        {% endif %}
                        <a href="/{{user_jobs.id}}/complete_job">Complete Job</a>

                    </td>
                </tr>
                    {% endfor %}
                {% endif %}
            </table>
        <div class="availablejobssection">
            <h1 class="availablejobstitle">Jobs Available</h1>
            {% if messages %}
                {% for message in messages %}
                    {% if 'avilable_job_errors' in message.extra_tags %}
                        <p class="rederrors"> * {{ message }} * </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <table>
                <tr class="boldheaders">
                    <td>Job</td>
                    <td>Location</td>
                    <td>Description</td>
                    <td>Actions</td>
                </tr>
                {% if user_jobs != all_jobs %}
                    {% for all_jobs in all_jobs %}
                <tr>
                    <td>{{all_jobs.job_name}}</td>
                    <td>{{all_jobs.job_location}}</td>
                    <td>{{all_jobs.job_description}}</td>
                    <td>
                        <a href="/{{all_jobs.id}}/view_job">View Job |</a>
                        <a href="/{{all_jobs.id}}/join_job">Join Job</a>
                        
                    </td>
                </tr>
                    {% endfor %}
                {% endif %}

            </table>
        </div>
    </div>  
</body>
</html>


