<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Job</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard">Back</a></li>
                <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
            </div>
        </nav>
        <div class="jumbotron">
        <h1>{{job.job_name}} Job</h1>
            <p>Job Description: {{job.job_description}}</p>
            <p>Job Location: {{job.job_location}}</p>
            <p>Job Posted By: {{job.creator.first_name}}</p>
            <p>Job Posted On: {{job.created_at}}</p>
        </div>
        <div class="jumbotron">
            <h1>Do You Want To Join This Job?</h1>
            <p><a href="/{{job.id}}/join_job">Join Job!</a></p>

        </div>
</body>
</html>

